<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!--google material icon-->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <title>ABBBA’s Memory,,,</title>
    <link rel="stylesheet" href="/Post/css/detail_post.css">
</head>

<body>
    <section id="container">
        <div style="border-radius:20px" id="main_container" class="post_form">
            <div style="text-align: center;">
            <a href="{% url 'Post:main' %}">
                <span id="home_button" class="material-symbols-rounded"
                    style="font-size: 30px; margin-right:10px; cursor : pointer;">home </span>
            </a>
        </div>
            <p style="text-align: center;">{{ request.user }}님, 반가워요! 이 글은 {{post.author.username}}님이 작성한 글입니다.</p>
            <div>
                {% csrf_token %}
                <div class="title" style="width:98%; margin:auto;">
                </div>
                <div class="preview">
                    <img style=" display:flex; object-fit: contain; max-width:100%; max-height:600px; margin:auto  "
                        src="{{post.photo.url}}" />
                </div>

                <div style="display:flex; justify-content: space-between;">
                    <div style="display: flex;justify-content: space-between; width : 40%; margin: auto;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="40" fill="currentColor"
                            class="bi bi-hearts" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.931.481c1.627-1.671 5.692 1.254 0 5.015-5.692-3.76-1.626-6.686 0-5.015Zm6.84 1.794c1.084-1.114 3.795.836 0 3.343-3.795-2.507-1.084-4.457 0-3.343ZM7.84 7.642c2.71-2.786 9.486 2.09 0 8.358-9.487-6.268-2.71-11.144 0-8.358Z" />
                        </svg>
                        <p>:</p><span style="font-size:20px;padding-top: 12px;">{{ post.like_count }}</span>
                        {% if user.is_authenticated %}
                        <form action="{% url 'Post:likes' post.id %}" method='POST'>
                            {% csrf_token %}
                            {% if post in user.like_posts.all %}
                            <span class="filebox">
                                <label for="ex_file">취소</label>
                                <input type="submit" id="ex_file">
                            </span>
                            {% else %}
                            <span class="filebox">
                                <label for="ex_file">좋아요</label>
                                <input type="submit" id="ex_file">
                            </span>
                            {% endif %}
                    </div>
                    </form>
                </div>

                <div style="border : solid 2px gray; border-radius: 10px;">

                    <div style="display: flex;width:100%;flex-wrap: wrap;">
                        {% if tags %}
                        {% for tag in tags %}
                        <a href="{% url 'Post:search' %}?search={{tag}}">&nbsp<p style="border : solid 1px #ff6c6c; border-radius: 20px;">&nbsp&nbsp{{ tag }}&nbsp&nbsp
                        </p>&nbsp</a>
                        {% endfor %}
                        {% else %}
                        <p style="color : #ff6c6c;">&nbsp&nbsp자동 인식된 태그가 없습니다.</p>
                        {% endif %}
                        <div>
                        </div>
                        
                    </div>
                    <p style="font-size:15px;">&nbsp&nbsp{{post.content}}</p>

                </div>

                {% for cm in comment %}<div style="display: flex; width:100%; flex-wrap: wrap;">
                <form style="width:80%;" action="{% url 'Post:delete_comment' cm.id %}" method="POST">
                    {% csrf_token %}
                    <div class="comment_box">
                        <div style="display: flex;width:95%;flex-wrap: wrap;">
                            <p>{{ cm.author.username }} :&nbsp </p>
                            <p style="display: " > {{ cm.comment }}</p>
                        </div>
                        {% if user == cm.author %}
                        <input class="comment_btn" type="submit" style="margin: auto;" value="삭제">
                        {% endif %}
                    </div>
                </form>
                {% if user == cm.author %}
                <form style="margin: auto;" action="{% url 'Post:edit_comment' cm.id %}" method="POST">
                    {% csrf_token %}
                    <input class="edit_btn" type="submit" value="수정">
                </form>

                {% endif %}
                {% endfor %}

                <div style="width:100%;">
                {% if user.is_authenticated %}
                    <form action="{% url 'Post:upload_comment' post.id %}" method="POST">
                        {% csrf_token %}
                        <p id="comment_box">
                            <input style="width:80%;" name="comment_content" type="txt" placeholder="코멘트 입력창">
                            <input class="comment_btn" type="submit" value="등록">
                        </p>
                    </form>
                    {% endif %}
                    <div>
                    </div>
                    {% if post.author == user %}
                    <div class="buttons">
                        <a href="{% url 'Post:edit-post' post.id %}"><input class="submit_btn" type="submit"
                                value="게시글 수정"></a>
                        <a href="{% url 'Post:delete-post' post.id %}"><input class="submit_btn" type="submit"
                                value="게시글 삭제"></a>
                    </div>
                    {% endif %}
                </div>
            </div>
    </section>
</body>

</html>