<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

    <title>ABBBA’s Memory,,,</title>
    <link rel="stylesheet" href="/Post/css/edit_comment.css">
  </head>

  <body>
    <section id="container">
      <div id="main_container" class="post_form">
        <div>
          {% csrf_token %}
          <div class="title">EDIT COMMENT</div>
          <form action="{% url 'Post:edit_cmt' comment.id %}" method="POST">
            {% csrf_token %}
            <p id="comment_box">
              <input style="width: 80%" name="comment_content" type="txt" placeholder="comment" value="{{ comment.comment }}" />
              <input class="comment_btn" type="submit" value="댓글 수정" />
            </p>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
