<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

    <title>ABBBA’s Memory,,,</title>
    <link rel="stylesheet" href="/Post/css/edit_post.css">
  </head>

  <body>
    <section id="container">
      <div id="main_container">
        <div class="post_form_container" style="border-radius: 10px">
          <form action="{% url 'Post:edit-post' post.id %}" method="POST" class="post_form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="title">EDIT POST</div>
            <div class="title" style="font-size: 20px">{{ request.user }}님, 반가워요!</div>
            <div class="preview" style="width: 100%">
              <img style="display: flex; object-fit: contain; max-width: 700px; max-height: 1000px; margin: auto" src="{{post.photo.url}}" />
              <canvas id="imageCanvas"></canvas>
            </div>
            <p>
              <input type="file" name="photo" id="id_photo" required="required" />
            </p>
            <p>
              <textarea name="content" id="text_field" cols="50" rows="5" placeholder="140자 까지 등록 가능합니다.">{{post.content}}</textarea>
            </p>
            <input class="submit_btn" type="submit" value="글 수정하기" />
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
